body {
background: #fff;
color: #000;
}
#nav {
background: #fff;
float: right;
padding-right: 30px !important;
}
p {
line-height: 25px;
}
a {
color: #6c5ce7;
border-bottom: 0 !important;
font-weight: bold;
word-wrap: break-word;
}
a:hover {
color: #000;
}
#nav a img:hover {
animation: mymove_nav 5s 1;
}
h1 {
color: #6c5ce7;
}
h2 {
color: #6c5ce7;
}
h3 {
color: #6c5ce7;
}
h1.quote {
border-left: 15px solid #eee;
padding-left: 20px;
}
@keyframes mymove_nav {
10% {
transform: scale(1.2);
}
}
ol li {
list-style: none;
margin: 7px -15px;
}
.gray {
color: #aaa;
}
p img {
box-shadow: 3px 3px 8px #ccc;
margin-bottom: 5px;
width: 100%;
}
#pagination a {
font-size: 15px;
margin: 0 30px 0 0;
}
